body {
  background-color: rgb(241, 148, 252);
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-container a {
  margin: 0 20px;
}

.form-container button {
  width: 100%;
  padding: 1rem 2rem;
  border-radius: 10px;
  font-size: 20px;
  color: rgb(241, 148, 252);
  border: none;
  background-color: bisque;
  transition: all 0.6s;
}

.form-container button:hover {
  transform: scale3d(1.1, 1.1, 1.1);
}
